body {
  background-image: url(resourses/fondo.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  cursor: none;
  margin: 0; 
  overflow-x: hidden;
}
.navbar-brand{
  padding-top: 2%;
}

p{
  color:aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: larger;
}
.custom-form {
  width: 50%;
  float: left;
  margin-left: 2%;
  color:aliceblue;
}
h1{
  color: yellow;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  stroke: blue;
  font-weight: bold;
}
.form-container{
  margin-left: 10%;
  margin-top: 2%;
}
#titulo {
  text-align: center;
  font-size: 80px;
  margin-top: 20vh;
  opacity: 0;
  animation: caida-letras 2s forwards;
  color: #FFEE16;
  stroke: #1B48A0;
}

#agradecimiento {
  text-align: center;
  margin-top: 20px;
  opacity: 0;
  animation: aparecer-agradecimiento 2s forwards;
  font-family: 'Sora', sans-serif;
  color: #EAEAEA;
}

@keyframes caida-letras {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aparecer-agradecimiento {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aparecer-boton {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btn{
  width: 40%;
 border: none;
 align-items: center;
 cursor: pointer;
 color: #EAEAEA;
 background-color: #044D98;
}
.btn a {
  color: #EAEAEA;
  text-decoration: none; 

}
.btn a:hover{
  color: #F1050C;
}
.btn:hover{
  background-color:#FFEE16;
}


#custom-cursor {
  position: absolute;
  width: 40px;
  height: 40px; 
  pointer-events: none;
  background-image: url(resourses/toy.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
}

footer {
  width: 100%;
  height: 8vh;
  background-color: #044D98;
  color: #fff;
}
.caja-form{
  width: 60%;
}

@media screen and (max-width: 768px) {
 .caja-form{
  width: 100%;
 }
}



.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #FFEE16;
  --color-2: #9CE139;
  --color-3: #47A3FB;
}

.title-word-2 {
  --color-1: #9CE139;
  --color-2: #F1050C;
  --color-3: #FFEE16;
}

.title-word-3 {
  --color-1: #F1050C;
  --color-2: #47A3FB;
  --color-3: #9CE139;
}



@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}



.TSL{
  display: grid;
  place-items: center;  
  text-align: center;
  justify-content: start;
}

.title {
  font-family:  'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 800;
  font-size:80%;
  text-transform: uppercase;
}

#bounce-logo {
  position: relative;
  animation: bounceAnimation 3s cubic-bezier(0.25, 1, 0.5, 1) infinite;
}

@keyframes bounceAnimation {
  0%, 100% {
    transform: translateY(0); /* Sin cambio en la posición vertical al principio y al final */
  }
  50% {
    transform: translateY(-20px); /* Posición vertical ascendente */
  }
  60% {
    transform: translateY(-10px); /* Posición vertical descendente (rebote) */
  }
  70% {
    transform: translateY(-20px); /* Posición vertical ascendente (segundo rebote) */
  }
  80%, 90% {
    transform: translateY(0); /* Posición vertical al final (tercer rebote) */
  }
}
